.box-geometry canvas {
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: contain;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
}

.skill {
  margin: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Ubuntu Mono', monospace;
  background-image: url("https://raw.githubusercontent.com/safak/youtube23/3d-portfolio/public/img/bg.jpeg");
  border-radius: 10%;
  margin-top: 0.4rem;
}

.skill-content {
  flex: 1;
  width: 100%;
  padding: 2rem 1rem;
}

.skill-content h3 {
  font-size: 2rem;
  color: #ffffff;
  padding: 2rem 0 1rem;
  text-align: center;
  font-weight: 900;
}

.skill-list {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: #f6eeee;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.skill-list ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: disc;
}

.skill-list li {
  margin: 2% 0;
  padding-bottom: 5px;
  padding: 0.5rem 2rem;
}

.skill p {
  text-align: center;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  padding: 0.5rem 2rem; /* Add padding on both sides */
}

.skill p {
  text-align: center;
  font-size: 1rem;
  color: cyan;
  padding: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .skill {
      flex-direction: row;
      min-height: 100vh;
      padding: 1rem 10%;
      margin-top: 0.4rem;
  }
  .skill-content {
      width: 50%;
      padding: 2rem;
  }
  
  .skill-list {
      flex-direction: row;
      width: 100%;
      padding: 2rem;
  }
  .skill-list ul {
      width: 100%;
      margin: 0;
      padding: 0;
      list-style-type: disc;
  }
  .skill-list li {
      margin: 0 2%;
  }
}
